//breakpoint lg
@media all and (max-width: 992px) {
	
	#fondo {
		background-image: url(../media/fondo-lg-09.png);
	}
	
	#header {

		.header--centrado {
			@include centrado-lg;
		}

		.header__menu {
			align-content: right;
		}

		.header__menu__item {
			margin: 0 10px;
		}
	}

	#portada {
		@include centrado-lg;
		margin-top: $margin;
		margin-bottom: $margin;

		.portada__titulo {
			max-width: 40vw;
			margin: 0 auto 30px auto;
			font-size: $font-size*2.3;
			margin-bottom: 20px;
		}

	 	.portada__img {
	 		max-width: 60vw;
	 		height: 300px;
	 	}

	 	.portada__subtitulo {
	 		font-size: $font-size*1.3;
	 		font-weight: 300;
	 		margin-top: 20px;
 		}
	}

	#modulo {
		@include centrado-lg;

		p {
			margin-top: $margin;
			margin-bottom: $margin;
			font-size: $font-size*1.1;
			line-height: 1.5;
		}
	}

	.subtitulo {
			font-size: $font-size*2.1;
			margin-top: $margin + 20;
			margin-bottom: $margin;
		}

	#servicios {
		@include centrado-lg;
		margin-bottom: $margin;

		.servicios__titulos a {
			width: 200px;
		}

		.servicios__titulos--breakpoint {
			font-size: $font-size*1.2;

		}

		.servicios__parrafo {
			font-family: $fuente-sans - 0.1;
			font-size: $font-size;
		}

		.servicios__imagenes {
			margin: 20px 0;
		}

		.servicios__descripcion p {
			font-size: $font-size*1.1;
		}

	}

	#proyectos {
		@include centrado-lg;
		margin-bottom: $margin;

		.proyectos__card {
			width: 220px;
			margin: 20px 10px;
		}

			img {
				height: 190px;
			}

		.proyectos__titulo {
			font-size:	$font-size*1.2;
		}
	}

	#testimonios {
		@include centrado-lg;
		margin: 10px auto;
		text-align: center;

		.testimonios__parrafo {
			font-size: $font-size - 0.05;
			max-width: 250px;
			margin: 5px;
			line-height: 1.4;
		}

		.testimonios__persona {
			font-size: $font-size - 0.1;
			max-width: 250px;
			margin: 5px;
		}

		.testimonio__persona--margin {
			margin-top: 25px;
		}
	}

	#blog {
		@include centrado-lg;
		@include flex-row-ar;

		.blog__entrada {
			margin: 0 0 $margin 0;
			padding: 20px 20px 30px 20px;
			max-width: 300px;
		}

		.blog__entrada__titulo {
			font-size:	$font-size*1.2;
		}

			p {
				margin-top: 0px;
				font-size: $font-size - 0.1;
			}
		.blog__entrada__parrafo--margin {
			margin-top: 0px;
		}
	}

	.subtitulo__proyectos {
		max-width: 700px;
	}

	#seccion__proyectos {
		max-width: 700px;

		.seccion__proyectos--fondo {
			width: 700px;
		}

		.seccion__proyectos--fondo2 {
			width: 660px;
				
				p {
				width: 600px;
				font-size: $font-size;
				overflow: break-word;
				margin: auto;
			}
		}

		.seccion__proyectos__titulo {
			font-size: $font-size*1.4;
		}
	}


	#contacto {
			margin-top: $margin;
			margin-bottom: $margin;
		
			p {
			font-size: $font-size*1.4;
		}
	}

	#footer .footer__columna__1 {
		width: 25vw;

		img {
			height: 40px;
		}
	}

	//seccion servicios lg
	.titulo__servicios {
		font-size: $font-size*2.2;
	}

	.btn {
	@include centrado-lg;
	font-size:	$font-size*1.2;
	width: 270px;
	margin: 0px 15px 15px 15px;
	padding: 15px;
	}

	.servicios__img {
	height: 350px;
	}

	.card-body {

		.parrafo--estilo {
			@include flex-col-ar;

			p {
				font-size:	$font-size*1;
				padding: 20px;
				margin-bottom: $margin;
				max-width: 400px;
			}
		}
	}

	//seccion proyectos lg
	#carouselExampleControls {

		.carousel-item {
			height: 300px;
			margin-bottom: $margin - 10;

				img {
					height: 350px;
					margin: 0 auto;
					border-radius: $border;
			}
		}
	}

	#seccion__proyectos {
	@include centrado-lg;
	margin-bottom: $margin;

		.seccion__proyectos--fondo {
			width: 300px;
			margin: 0 $margin-center;
		}

		.seccion__proyectos__titulo {
			padding: 10px;
			font-size: $font-size*1.5;
			font-weight: 400;
			margin-top: $margin;
		}

		.seccion__proyectos--fondo2 {
			margin: auto;
			padding: 20px;
		}
	}

	//seccion nosotros lg
}

//breakpoint md

@media all and (max-width: 768px) {
	
	#header {
		height: 60px;

		.header--centrado {
			@include centrado-md;
		}

		.header__logo {
			height: 35px;
			margin-top: 10px;
		}

		.header__menu-mobile {
			display: inline-block;
			height: 35px;
			margin-top: 10px;
		}

		.header__menu {
			display: none;
		}
	}

	#fondo {
		background-image: url(../media/fondo-md.png);
	}

	#portada {
		@include centrado-md;
		@include flex-col-ar;
		height: 540px;
		margin: 30px auto;
		align-items: center;

		.portada__izq {
			width: 60vw;
		}

		.portada__titulo {
			max-width: 100%;
			text-align: center;

			h1 {
			font-size: $font-size*2;
			}
		}

		.portada__subtitulo {
	 		font-size: $font-size*1.1;
	 		font-weight: 300;
	 		left: 250px;
 		}

		.portada__img {
	 		margin-top: $margin - 10;
	 		height: 280px;
	 	}
	}

	#modulo {
		@include centrado-md;

		p {
			margin-top: $margin;
			margin-bottom: $margin;
			line-height: 1.3;
		}
	}

	.subtitulo {
		@include subtitulo-md;
	}

	#modulo {
		margin: $margin auto;

		p {
			font-size: $font-size*1;
			line-height: 1.3;
		}

	}

	#servicios {
		@include flex-col-ar;
		height: 200px;

		.servicios__titulos {
			@include centrado-md;
			font-size: $font-size*1.2;
			height: 200px;
			width: 202px;
			@include flex-col-ar;
		}

		.servicios__descripcion {
			display: none;
		}

		.servicios__imagenes {
			display: none;
		}
	} 

	#proyectos {
		@include flex-col-ar;

		.proyectos__card {
			width: 260px;
			margin: 20px auto;

			img {
				height: 220px;
			}
		}

		.proyectos__titulo {
			font-size:	$font-size*1.2;
		}
	}

	#testimonios {
		@include flex-col-ar;
		font-family: $fuente-sans;
		text-align: center;

		.testimonios__parrafo {
			margin: 10px auto;
			font-size: $font-size*1;
			max-width: 300px;
			overflow-wrap: break-word;
		}

		.testimonios__persona {
			font-size: $font-size / 1.2;
			margin: auto;
			max-width: 300px;
			margin-top: 10px;
		}
	}

	#blog {
		@include flex-col-ar;

		.blog__entrada {
			margin: 0 auto 30px auto;
			max-width: 400px;
			max-height: 100px;
		}

		.blog__entrada__titulo {
			font-size:	$font-size*1.2;
		}

		.blog__entrada__parrafo--margin {
			margin-top: 10px;
		}
	}

	#contacto {
			margin-top: $margin - 20;
			margin-bottom: $margin - 20;
		
			p {
			font-size: $font-size*1.2;
		}
	}

	//seccion servicios md

	.titulo__servicios {
		font-size: $font-size*2;
	}

	.subtitulo__servicios {
		width: 500px;
		margin: 20px auto;
	}

	.card-body {
		font-size: $font-size*1.1;
	}

	//seccion proyectos md
	#carouselExampleControls {

		.carousel-item {
			height: 250px;
			margin-bottom: $margin - 10;

				img {
					height: 250px;
					margin: 0 auto;
					border-radius: $border;
			}
		}
	}

	.nos__fondo__parrafo {
		width: 500px;
		font-size: $font-size*1.1;
	}

	//seccion blog md 
	#seccion__blog {
		@include flex-col-ar;
		align-items: center;

		.caja__derecha {
			@include flex-col-ar;
			
			article {
				height: 100px;
				width: 400px;

				h2 {
					font-size: $font-size*1.1;
				}

				div {
					font-size: $font-size;
				}
			}
		}
	}


	#footer {
		padding: 30px;
		font-weight: medium;
		font-size: $font-size*1.1;
		@include flex-col-ar;

		.footer__columna__1 {
			width: 25vw;
		}

		.footer__columna__2 {
			margin-top: 20px;
			text-align: center;
			width: 45vw;
			overflow: break-word;
		}

		.footer__columna__2 img {
			height: 30px;
			margin-top: 10px;
		}
	}
}

