//breakpoint lg
@media all and (max-width: 992px) {
	
	#fondo {
		background-image: url(../media/fondo-lg-09.png);
	}
	
	#header {

		.header--centrado {
			@include centrado-lg;
		}

		.header__menu {
			align-content: right;
		}

		.header__menu__item {
			margin: 0 10px;
		}
	}

	#portada {
		@include centrado-lg;
		margin-top: $margin;
		margin-bottom: $margin;

		.portada__titulo {
			max-width: 40vw;
			margin: 0 auto 30px auto;
			font-size: $font-size*2.3;
			margin-bottom: 20px;
		}

	 	.portada__img {
	 		max-width: 60vw;
	 		height: 300px;
	 	}

	 	.portada__subtitulo {
	 		font-size: $font-size*1.3;
	 		font-weight: 300;
	 		margin-top: 20px;
 		}
	}

	#modulo {
		@include centrado-lg;

		p {
			margin-top: $margin;
			margin-bottom: $margin;
			font-size: $font-size*1.1;
			line-height: 1.5;
		}
	}

	.subtitulo {
			font-size: $font-size*2.1;
			margin-top: $margin + 20;
			margin-bottom: $margin;
		}

	#servicios {
		@include centrado-lg;
		margin-bottom: $margin;

		.servicios__titulos a {
			width: 200px;
		}

		.servicios__titulos--breakpoint {
			font-size: $font-size*1.2;

		}

		.servicios__parrafo {
			font-family: $fuente-sans - 0.1;
			font-size: $font-size;
		}

		.servicios__imagenes {
			margin: 20px 0;
		}

		.servicios__descripcion p {
			font-size: $font-size*1.1;
		}

	}

	#proyectos {
		@include centrado-lg;
		margin-bottom: $margin;

		.proyectos__card {
			width: 220px;
			margin: 20px 10px;
		}

			img {
				height: 190px;
			}

		.proyectos__titulo {
			font-size:	$font-size*1.2;
		}
	}

	#testimonios {
		@include centrado-lg;
		margin: 10px auto;
		text-align: center;

		.testimonios__parrafo {
			font-size: $font-size - 0.05;
			max-width: 250px;
			margin: 5px;
			line-height: 1.4;
		}

		.testimonios__persona {
			font-size: $font-size - 0.1;
			max-width: 250px;
			margin: 5px;
		}

		.testimonio__persona--margin {
			margin-top: 25px;
		}
	}

	#blog {
		@include centrado-lg;
		@include flex-row-ar;

		.blog__entrada {
			margin: 0 0 $margin 0;
			padding: 20px 20px 30px 20px;
			max-width: 300px;
		}

		.blog__entrada__titulo {
			font-size:	$font-size*1.2;
		}

			p {
				margin-top: 0px;
				font-size: $font-size - 0.1;
			}
		.blog__entrada__parrafo--margin {
			margin-top: 0px;
		}
	}

	.subtitulo__proyectos {
		max-width: 700px;
	}

	#seccion__proyectos {
		max-width: 700px;

		.seccion__proyectos--fondo {
			width: 700px;
		}

		.seccion__proyectos--fondo2 {
			width: 660px;
				
				p {
				width: 600px;
				font-size: $font-size;
				overflow: break-word;
				margin: auto;
			}
		}

		.seccion__proyectos__titulo {
			font-size: $font-size*1.4;
		}
	}


	#contacto {
			margin-top: $margin;
			margin-bottom: $margin;
		
			p {
			font-size: $font-size*1.4;
		}
	}

	#footer .footer__columna__1 {
		width: 25vw;

		img {
			height: 40px;
		}
	}

	//seccion servicios lg
	.titulo__servicios {
		font-size: $font-size*2.2;
	}

	.btn {
	@include centrado-lg;
	font-size:	$font-size*1.2;
	width: 270px;
	margin: 0px 15px 15px 15px;
	padding: 15px;
	}

	.servicios__img {
	height: 350px;
	}

	.card-body {

		.parrafo--estilo {
			@include flex-col-ar;

			p {
				font-size:	$font-size*1;
				padding: 20px;
				margin-bottom: $margin;
				max-width: 400px;
			}
		}
	}

	//seccion proyectos lg
	#carouselExampleControls {

		.carousel-item {
			margin-bottom: $margin - 10;

				img {
					margin: 0 auto;
					border-radius: $border;
			}
		}
	}

	#seccion__proyectos {
	@include centrado-lg;
	margin-bottom: $margin;

		.seccion__proyectos--fondo {
			width: 300px;
			margin: 0 $margin-center;
		}

		.seccion__proyectos__titulo {
			padding: 10px;
			font-size: $font-size*1.5;
			font-weight: 400;
			margin-top: $margin;
		}

		.seccion__proyectos--fondo2 {
			margin: auto;
			padding: 20px;
		}
	}

	//seccion nosotros lg
	#container__nosotros {
		@include centrado-lg;

		.nos__fondo {
			font-size: $font-size*1.5;
		}
	}

	//seccion blog lg
	#seccion__blog {
		@include centrado-lg;

		.seccion__blog__titulo {
			font-size: $font-size*3.1;
		}

		.titulo__entrada {
			font-size:	$font-size*1.3;
		}
	}

	//corresponde a contacto lg
	#formulario {
		@include centrado-lg;

		.formulario__titulo {
			font-size: $font-size*2.7;
		}

		form {
			font-size: $font-size*1.1;

			input {
				width: 300px;
			}

		textarea {
				width: 350px;
			}
		}
	}

	#footer {
		padding: 30px;
		font-weight: medium;
		font-size: $font-size*1.1;
		@include flex-col-ar;

		.footer__columna__1 {
			width: 25vw;
		}

		.footer__columna__2 {
			margin-top: 20px;
			text-align: center;
			width: 45vw;
			overflow: break-word;
		}

		.footer__columna__2 img {
			height: 30px;
			margin-top: 10px;
		}
	}
}

//breakpoint md

@media all and (max-width: 768px) {
	
	#header {
		height: 60px;

		.header--centrado {
			@include centrado-md;
		}

		.header__logo {
			height: 35px;
			margin-top: 10px;
		}

		.header__menu-mobile {
			display: inline-block;
			height: 35px;
			margin-top: 10px;
		}

		.header__menu {
			display: none;
		}
	}

	#fondo {
		background-image: url(../media/fondo-md.png);
	}

	#portada {
		@include centrado-md;
		@include flex-col-ar;
		height: 540px;
		margin: 30px auto;
		align-items: center;

		.portada__izq {
			width: 60vw;
		}

		.portada__titulo {
			max-width: 100%;
			text-align: center;

			h1 {
			font-size: $font-size*2;
			}
		}

		.portada__subtitulo--container {
			@include centrado-md;
			margin-left: 12vw;
		}

		.portada__subtitulo {
	 		font-size: $font-size*1.1;
	 		font-weight: 300;
 		}

		.portada__img {
	 		margin-top: $margin - 10;
	 		height: 280px;
	 	}
	}

	#modulo {
		@include centrado-md;

		p {
			margin-top: $margin;
			margin-bottom: $margin;
			line-height: 1.3;
		}
	}

	.subtitulo {
		@include subtitulo-md;
	}

	#modulo {
		margin: $margin auto;

		p {
			font-size: $font-size*1;
			line-height: 1.3;
		}
	}

	#servicios {
		@include flex-col-ar;
		height: 1150px;
		align-items: center;
		margin-bottom: 30px;

		.servicios__titulos {
			@include centrado-md;
			font-size: $font-size*1.2;
			height: 40px;
			width: 230px;
			padding: 5px;
		}

		.servicios__descripcion p {
			font-size: $font-size*1.1;
			margin: $margin - 20 auto;
		}

		.servicios__imagenes img {
			height: 200px;
			margin: $margin - 30px;
		}
	} 

	#proyectos {
		@include flex-col-ar;

		.proyectos__card {
			margin: 20px auto;
		}

		.proyectos__titulo {
			font-size:	$font-size*1.2;
		}
	}

	#testimonios {
		@include flex-col-ar;
		font-family: $fuente-sans;
		text-align: center;

		.testimonios__container {
			margin-bottom: 10px;
		}

		.testimonios__parrafo {
			margin: 10px auto;
			font-size: $font-size*1;
			max-width: 300px;
			overflow-wrap: break-word;
		}

		.testimonios__persona {
			font-size: $font-size / 1.2;
			margin: auto;
			max-width: 300px;
			margin-top: 10px;
		}
	}

	#blog {
		@include flex-col-ar;

		.blog__entrada {
			margin: 0 auto 30px auto;
			max-width: 400px;
			max-height: 140px;
		}

		.blog__entrada__titulo {
			font-size:	$font-size*1.2;
		}

		.blog__entrada__parrafo--margin {
			margin-top: 10px;
		}
	}

	#contacto {
			margin-top: $margin - 10;
			margin-bottom: $margin - 10;
		
			p {
			font-size: $font-size*1.2;
		}
	}

	//seccion servicios md

	.titulo__servicios {
		font-size: $font-size*2;
	}

	.subtitulo__servicios {
		width: 500px;
		margin: 20px auto;
	}

	.card-body {
		@include flex-col-ar;
		font-size: $font-size*1.1;

		img {
			height: 280px;
		}

		.parrafo--estilo p {
			padding: 0;
			margin-bottom: $margin / 2;
		}
	}

	//seccion proyectos md
	#carouselExampleControls {

		.carousel-item {
			margin-bottom: $margin - 10;

			img {
					margin: 0 auto;
					border-radius: $border;
			}
		}

		.carousel-control-prev-icon {
			height: 25px;
			width: 25px;
		}

		.carousel-control-next-icon {
			height: 25px;
			width: 25px;
		}
	}

	#seccion__proyectos {
		@include centrado-md;
		margin-bottom: $margin - 10;

		.seccion__proyectos--fondo {
			width: 280px;
			margin: 0 $margin-center;
		}

		.seccion__proyectos__titulo {
			padding: 10px;
			font-size: $font-size*1.3;
			font-weight: 400;
			margin-top: $margin / 2;
		}

		.seccion__proyectos--fondo2 {
			margin: auto;
			width: 500px;
			padding: 10px;

			p {
				width: 480px;
				font-size: $font-size;
				padding: 20px;
			}
		}
	}

	//seccion nosotros md
	#container__nosotros {
		@include centrado-md;

		.nos__fondo {
			font-size: $font-size*1.3;

			h3 {
				margin: $margin / 2 auto;
			}
		}

		p {
			@include centrado-md;
			font-size: $font-size*1;
			padding: 0 $margin;
		}
	}

	//seccion blog md 
	#seccion__blog {
		@include flex-col-ar;
		align-items: center;

		.seccion__blog__titulo {
			margin: $margin / 2 auto;
		}

		.tags {
			align-items: center;
			height: 180px;
		}

		.caja__derecha {
			@include flex-col-ar;
			margin: $margin 0px $margin 0px;
			
			article {
				height: 100px;
				width: 400px;

				h2 {
					font-size: $font-size*1.1;
				}

				div {
					font-size: $font-size;
					margin-top: 10px;

					.esconder {
						display: none;
					}
				}
			}
		}
	}

	//corresponde a contacto md
	#formulario {
		@include flex-col-ar;
		@include centrado-md;
		align-items: left;
		padding-left: 150px;

		.formulario__titulo {
			font-size: $font-size*2.2;
			width: 52vw;
			margin-top: $margin / 2;
		}

		form {
			font-size: $font-size*1;
			margin-top: $margin / 2;
			margin-bottom: 50px;

			input {
				width: 350px;
			}

		textarea {
				width: 350px;
			}
		}
	}

	//footer md
	#footer {

		.footer__columna__1 {
			@include flex-col-ar;
			align-items: center;

			img {
				margin-bottom: 20px;
			}

			.footer__columna__1__menu p {
				text-align: center;
				font-size: $font-size*1.1;
			}
		}

		.footer__columna__2 p {
			font-size: $font-size*1.1;
		}
	}
}

//breakpoint xs

@media all and (max-width: 600px) {
	#header {

		.header--centrado {
			@include centrado-xs;
		}
	}

	#fondo {
		background-image: url(../media/fondo-md.png);
	}

	#portada {
		@include centrado-xs;
		margin: $margin / 2 auto;

		.portada__subtitulo--container {
			@include centrado-xs;
			margin-left: 9vw;
		}

		.portada__img {
	 		margin-top: $margin - 20;
	 		height: 280px;
	 	}
	}

	#modulo {
		@include centrado-xs;

		p {
			margin: $margin / 2 30px;
			line-height: 1.4;
		}
	}

	#blog {
		@include flex-col-ar;

		.blog__entrada {
			margin: 0 auto $margin / 2 auto;
			max-width: 300px;
		}

		.blog__entrada__titulo {
			font-size:	$font-size*1.1;
		}

		.blog__entrada p {
			margin-top: 10px;
		}
	}

	#contacto {
		
		p {
			font-size: $font-size*1.1;
			padding: 0 20px;
		}
	}

	//seccion proyectos xs
	#carouselExampleControls {

		.carousel-control-prev-icon {
			height: 20px;
			width: 20px;
		}

		.carousel-control-next-icon {
			height: 20px;
			width: 20px;
		}
	}

	#seccion__proyectos {

		.seccion__proyectos--fondo {
			width: 280px;
			margin: 0 $margin-center;
		}

		.seccion__proyectos__titulo {
			padding: 10px;
			font-size: $font-size*1.3;
			font-weight: 400;
		}

		.seccion__proyectos--fondo2 {
			width: 400px;

			p {
				width: 380px;
				padding: 10px;
			}
		}
	}

	//corresponde a blog xs
	#seccion__blog {

		.caja__derecha {
			@include flex-col-ar;
			margin-top: $margin / 2;
			
			article {
				height: 100px;
				width: 300px;

				h2 {
					font-size: $font-size*1.1;
				}

				div {
					margin-top: 5px;
					font-size: $font-size - 0.1;

					.esconder {
						display: none;
					}
				}
			}
		}	
	}


	//corresponde a contacto xs
	#formulario {
		@include flex-col-ar;
		@include centrado-xs;
		align-items: left;
		padding-left: 140px;

		.formulario__titulo {
			font-size: $font-size*2;
		}

		form {
	
			input {
				width: 250px;
			}

		textarea {
				width: 250px;
			}
		}
	}
}

//breakpoint xxs
@media all and (max-width: 400px) {

	//corresponde a index xxs
	#portada {
		.portada__titulo {
			font-size: $font-size*2.1;
		}

		.portada__subtitulo--container {
			margin-left: 0;
		}

		.portada__img {
			margin-top: 60px;
		}
	}

	#modulo {
		@include centrado-xxs;
	}

	.subtitulo {
		font-size: $font-size*1.8;
	}

	#testimonios {
		@include centrado-xxs;
	}

	#blog {
		.esconder {
			display: none;
		}
	}

	#contacto {
		@include centrado-xxs;
	}

	//corresponde a servicios xxs
	.titulo__servicios {
		font-size: $font-size*1.8;
	}

	.btn {
		width: 220px;
	}

	.card-body img {
		height: 220px;
	}

	.parrafo--estilo p {
		width: 300px;
	}

	//corresponde a seccion proyectos xxs
	#seccion__proyectos {
		
		.seccion__proyectos--fondo2 {
			width: 320px;

			p {
				width: 300px;
			}
		}
	}

	//corresponde a seccion nosotros xxs 
	#container__nosotros p {
		width: 300px;
	}

	#contacto p {
		margin-top: 30px;
	}

	//corresponde a seccion blog xxs {
	#seccion__blog {
		.seccion__blog__titulo {
			font-size: $font-size*2.6;
		}

		.caja__derecha article {
    		width: 220px;
    		height: 120px;
    	}

    	.esconder {
    		display: none;
    	}

	}

	#formulario {
		padding-left: 90px;

		.formulario__titulo {
			font-size: $font-size*2;
			width: 52vw;
			margin-top: $margin / 2;
			margin-bottom: $margin / 2;
		}

		form {
			font-size: $font-size*1;

			input {
				width: 210px;
			}

		textarea {
				width: 210px;
			}
		}
	}
}


