*{
	margin: 0;
	padding: 0;
}

div {
	box-sizing: border-box;
}

#fondo {
	background-image: url(../media/fondo-08.png);
	background-repeat: no-repeat;
}

.centrado {
	@include centrado;
}

h1 {
	font-weight: 300;
}

h2 {
	font-size: $font-size*1.4;
	font-weight: 300;
}

.subtitulo {
	@include subtitulo;
}

a {
	text-decoration: $text-decoration;
}

