@mixin centrado {
	max-width: $width-center;
	margin: $margin-center;
}

@mixin centrado-lg {
	max-width: $width-center - 200;
	margin: $margin-center;
}

@mixin centrado-md {
	max-width: $width-center / 1.6;
	margin: $margin-center;
}

@mixin centrado-xs {
	max-width: $width-center / 2;
	margin: $margin-center;
}

@mixin flex-row-ar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@mixin flex-row-be {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@mixin flex-col-ar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@mixin servicios-hover {
	transition: 250ms ease-out;
	background-color: $color-wb;
	border: 2px solid $color-rw;
}

@mixin subtitulo {
	font-family: $fuente-poppins;
	font-size: $font-size*2.4;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5px;
	margin-top: 80px;
	margin-bottom: 60px;
	color: $color-wb;
}

@mixin subtitulo-lg {
	font-family: $fuente-sans;
	font-size: $font-size*1.2;
	text-align: center;
	margin: $margin - 10;
	color: $color-wb;
	padding: 5px;
}

@mixin subtitulo-md {
	font-family: $fuente-sans;
	font-size: $font-size*2;
	text-align: center;
	margin: $margin - 10;
	color: $color-wb;
}
