$fuente-roboto: 'Roboto Mono', monospace;
$fuente-sans: 'Open Sans', sans-serif;
$fuente-poppins: 'Poppins', sans-serif;

$color-rw: #fffafa;
$color-wb: #7676B6;
$color-cg: #0E0E0E;
$color-an: #E3B23C;
$color-fg: #7ABE7B;
$color-vw: #F7EBEC;
$color-pk: #EA516F;

$width-center: 1000px;
$margin-center: auto;

$margin: 40px;

$font-size: 1rem;

$border: 30px;

$transition: 250ms ease-out;

$text-decoration: none;